<!DOCTYPE html>
<html lang="en">

<head>
    <title>Book Search App</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
    <div class="container">
        <div class="header">
            <ul class="nav nav-pills">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </div>
        <h3 class="text-muted">Book Search App</h3>
        <div class="jumbotron">
            <h2>Register for Book Search App</h2>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="register" role="button">Sign up today</a></p>
        </div>
    </div>
</body>

</html>