<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book Search App</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>
  <body>
    <div class="container">
        <div class="header">
            <ul class="nav nav-pills">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="#">Search</a></li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </div>
        <h3 class="text-muted">Book Search App</h3>
        <div class="jumbotron">
            <h2>Search Books</h2>
            <form action="/search" method="post">
                <label for="search" class="sr-only">Book</label>
                <input type="search" name="search" id="search" class="form-control" placeholder="Enter Search Criteria" required autofocus><br>
                <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
            </form>
        </div>
        {% if books is defined and books|length > 0 %}
          <div class="row">
            {% for book in books %}
                <div class="col-xs-4 col-md-3">
                    <div class="card card-cascade wider">
                        <div class="card-body text-center">
                            <img src="http://www.clker.com/cliparts/R/w/q/4/j/l/book-md.png" alt="Card image" class="img-thumbnail">
                            <h4 class="card-title">ISBN: {{ book.isbn }}</h4>
                            <p class="card-text">Title: {{ book.title }} </p>
                            <p class="card-text">Author:
                                {% for author in book.authors %}
                                    {{ author.name }}<br>
                                {% endfor %}
                            </p>
                            <a href="{{ url_for('bookdetails', isbn=book.isbn) }}" class="btn btn-primary">Book Details</a>
                        </div>
                    </div>
                    <br>
                </div>
            {% endfor %}
        {% elif books is defined and books|length == 0 %}
                <h3>Your search criteria yielded no results !!!</h3>
          </div>
        {% endif %}
    </div>
  </body>
</html>